* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fafafa;
  overflow: hidden;
  background:url("./assets/Images/background.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container_showdow{
  box-shadow: 0 2px 92px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 2px 92px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 2px 92px 0px rgba(0, 0, 0, 0.13);
}

.main-content{
  background-color: white;
  min-height: 100vh;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 30px;
  padding: 30px;
  
}

